*{
	margin: 0;
	padding: 0;
}
.welcome{
	margin-top: 20px;
	text-align: center;
}
@media(max-width: 768px)
{
	.welcome{
	margin-top: 20px;
	font-size: 50px;
}
}
.welcome-para{
	font-size: 18px;
    text-align: justify;
    word-spacing: 6px;
    line-height: 38px;
    letter-spacing: 1px;
    /*padding-right: 66px;
    padding-left: 63px;*/
    font-weight: 300;
}

.welcome-img{
	width: 334px;
	height: 365px;
	text-align: center;
}

@media(max-width: 768px)
{
	.welcome-img{
	width: 100%;
}
}
.secpart-back{
	background: url(../img/outbannerff.png);
	background-size: cover;
	background-repeat: no repeat;
	width: 500px;
}
.secpart-back-h1{
    font-size: 70px;
    padding-top: 100px;
}
.secpart-back-p{
	font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 35px;
    font-weight: 100;
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.trdpart-h2{
	font-size: 41px;
    margin-bottom: 40px;

}
.trdpart-img{
	width: 291px;
    height: 184px;
    border: 2px solid black;
    margin-bottom: 20px;
}    
.trdpart-img-div{


}
@media(max-width: 768px)
{
	.trdpart-img{
	width: 100%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 20px;
} 
}
.prt5-h2{
	color:#fbaa1a;
	font-size: 50px;
}
.icons{
	font-size: 30px;
	margin-left: 10px;
}
.cc{
	width: 75%;
}
@media(max-width: 600px)
{
	.cc{
		width: 100%;
	}
}
    
